<h1>Listing answers</h1>

<table>
  <thead>
    <tr>
      <th>Proof answered</th>
      <th>Proof issue</th>
      <th>Alternative</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questoes.each do |teste| %>
      <tr>
        <td><%= teste.id %></td>
       
    
      </tr>
    <% end %>
  </tbody>
</table>

<br>
