<%- model_class = Proof -%>
<div class="page-header">
  <h1><%#=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%#= model_class.human_attribute_name(:name) %></th>
      
 
      
      <th><%#=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @proofs.each do |proof| %>
        <%proof.proof_issue.answer.proof_answered.each do |alunos| %>
        
      <tr>
        
        <td><%= aluno.name %></td>
      
        <% end %>
        
        </tr>
     
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>


